<%- include("../partials/header.ejs")%>
    <div class="container mx-auto px-2 min-vh-100 md:mt-[120px] mt-[55px]">
        <%- include("../partials/navBar.ejs")%>
            <!-- CAROUSEL -->
            <div id="default-carousel" class="relative w-full" data-carousel="slide">
                <!-- Carousel wrapper -->
                <div class="relative h-60 overflow-hidden rounded-lg md:h-[500px]">
                    <!-- Item 1 -->
                    <div class="duration-300 ease-in-out" data-carousel-item>
                        <img src="/assets/banners/NewBanners/Main Banner 3.png"
                            class="object-cover rounded absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                            alt="bgImage">
                    </div>
                    <!-- Item 2 -->
                    <div class="duration-300 ease-in-out" data-carousel-item>
                        <img src="/assets/banners/NewBanners/Main Banner 3.png"
                            class="object-cover rounded absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                            alt="bgImage">
                    </div>
                    <!-- Item 3 -->
                    <div class="duration-300 ease-in-out" data-carousel-item>
                        <img src="/assets/banners/NewBanners/Main Banner 3.png"
                            class="object-cover rounded absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                            alt="bgImage">
                    </div>
                </div>
                <!-- Slider indicators -->
                <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
                    <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1"
                        data-carousel-slide-to="0"></button>
                    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2"
                        data-carousel-slide-to="1"></button>
                    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3"
                        data-carousel-slide-to="2"></button>
                </div>
                <!-- Slider controls -->
                <button type="button"
                    class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                    data-carousel-prev>
                    <span
                        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M5 1 1 5l4 4" />
                        </svg>
                        <span class="sr-only">Previous</span>
                    </span>
                </button>
                <button type="button"
                    class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                    data-carousel-next>
                    <span
                        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 9 4-4-4-4" />
                        </svg>
                        <span class="sr-only">Next</span>
                    </span>
                </button>
            </div>
            <div class="container">
                <!-- line -->
                <div class="container md:mt-10 md:mb-10">
                    <!-- <hr class="line bg-dark"> -->
                </div>
                <!-- content -->
                <div class="flex flex-col md:flex-row justify-center gap-4">
                    <!-- Filter Part -->
                    <div class="p-3 SideFilter bg-white d-flex flex-col align-items-center">
                        <div class="bg-[#b4b4b4] text-white rounded p-3 w-full flex justify-between ">
                            <span style="font-weight: 550;">FILTER</span>
                            <span style="font-weight: 550;">
                                <a style="text-decoration: none;" href="">
                                    Clear Filter
                                </a>
                            </span>
                        </div>
                        <!-- category  -->
                        <div class="w-full flex flex-col mt-3 px-3">
                            <span style="font-weight: 550;">CATEGORIES</span>
                            <%if(category.length < 7){%>
                                <div class="px-2 pt-2 filterFont" style="max-height: 150px; overflow-y: auto;">
                                    <%category.forEach((data,index)=>{%>
                                        <div class="">
                                            <input type="checkbox" id="category-<%= data.categoryName %>"
                                                value="<%= index %>" class="category-checkbox">
                                            <label for="category-<%= index %>">
                                                <%=data.categoryName%>
                                            </label>
                                        </div>
                                        <%})%>
                                </div>
                                <%}else{%>
                                    <div class="px-2 pt-2 filterFont" style="max-height: 150px; overflow-y: auto;">
                                        <%category.forEach((data,index)=>{%>
                                            <div class="">
                                                <input type="checkbox" id="category-<%= data.categoryName %>"
                                                    value="<%= index %>" class="category-checkbox">
                                                <label for="category-<%= index %>">
                                                    <%=data.categoryName%>
                                                </label>
                                            </div>
                                            <%})%>
                                    </div>
                                    <div class="mt-2" style="font-size: 13px; color: #909090;">See More
                                        <%=category.length-6%>+
                                    </div>
                                    <%}%>
                        </div>
                        <!-- Sorting -->
                        <div class="w-full flex flex-col mt-3 px-3 pb-5 ">
                            <span style="font-weight: 550;">CATEGORIES</span>
                            <div class="px-2 pt-2 filterFont">
                                <select id="sortSelect" style="width: 100%; height: 40px;font-size: 13.5px;">
                                    <option value="latest">Select</option>
                                    <option value="latest">Latest Arrival</option>
                                    <option value="heighToLow">Heigher To Lower</option>
                                    <option value="lowToHigh">Lower To Hegher</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="text-gradient text-3xl font-bold mb-4">All Products</div>
                        <div id="product-container" class="flex flex-wrap align-items-start justify-content-start md:gap-3">
                            <% product.forEach((data,index)=>{%>
                                <div class="flex my-1 md:flex-col border-2 rounded-xl h-[130px] min-w-full md:h-[400px] md:min-w-[280px] shadow-md overflow-hidden"
                                    data-category-id="<%= data.categoryId %>">
                                    <!-- image rendering  -->
                                    <a href="/detaildView/<%=data._id%>">
                                        <div class="">
                                            <img src="/productImages/<%=data.image[0]%>" alt="Product Image"
                                                class="h-[150px] md:h-[300px] md:w-full object-cover rounded-t-lg">
                                        </div>
                                    </a>
                                    <div class="px-3 py-2 product-name w-full">
                                        <span class="text-sm font-semibold truncate">
                                            <%= data.p_name%>
                                        </span>
                                        <div class="flex justify-between items-center mt-2">
                                            <div class="space-x-2">₹ <text class="font-medium">
                                                    <%= data.finalPrice%>
                                                </text> &nbsp; <span class="line-through text-[#adadad]">₹
                                                    <%=data.price%>
                                                </span>
                                            </div>
                                            <div class="favor" style="cursor: pointer;">
                                                <i class="fa-regular fa-heart"></i>
                                            </div>
                                        </div>
                                        <div class="rating d-flex align-items-center">
                                            <div class="star d-flex align-items-center">
                                                <img src="/assets/product/star.png" alt="">
                                                <img src="/assets/product/star.png" alt="">
                                                <img src="/assets/product/star.png" alt="">
                                                <img src="/assets/product/star.png" alt="">
                                                <img src="/assets/product/star.png" alt="">
                                            </div>
                                            <div class="value ms-2">(<%= index+10%>)</div>
                                        </div>
                                    </div>
                                </div>
                                <%})%>
                        </div>
                        <!-- Page Nation -->
                        <div id="pagination-container"
                            class="d-flex align-items-center justify-content-center w-100 my-5">
                            <nav aria-label="..." class="d-flex align-items-center justify-content-center">
                                <ul class="pagination">
                                    <% if (currentPage> 1) { %>
                                        <li class="page-item text-dark">
                                            <a class="page-link" href="/shop?page=<%= currentPage - 1 %>" tabindex="-1">
                                                Previous
                                            </a>
                                        </li>
                                        <% } %>
                                            <% for (let page=1; page <=totalPages; page++) { %>
                                                <% if (page===currentPage) { %>
                                                    <li class="page-item active">
                                                        <a class="page-link" href="/shop?page=<%= page %>">
                                                            <%= page %>
                                                        </a>
                                                    </li>
                                                    <% } else { %>
                                                        <li class="page-item">
                                                            <a class="page-link" href="/shop?page=<%= page %>">
                                                                <%= page %>
                                                            </a>
                                                        </li>
                                                        <% } %>
                                                            <% } %>
                                                                <% if (currentPage < totalPages) { %>
                                                                    <li class="page-item">
                                                                        <a class="page-link"
                                                                            href="/shop?page=<%= currentPage + 1 %>">
                                                                            Next
                                                                        </a>
                                                                    </li>
                                                                    <% } %>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- FILTER CHECKBOX -->
    <script>
        const checkboxes = document.querySelectorAll('[id^="category-"]');
        checkboxes.forEach((checkbox) => {
            checkbox.addEventListener('change', function () {
                const checkedCategories = [];
                checkboxes.forEach((checkbox) => {
                    if (checkbox.checked) {
                        const categoryName = checkbox.id.replace('category-', '');
                        checkedCategories.push(categoryName);
                    }
                })
                $.ajax({
                    type: 'post',
                    url: "/productFilter",
                    data: { categoryName: JSON.stringify(checkedCategories) },
                    success: function (res) {
                        const productContainer = document.getElementById('product-container');
                        productContainer.innerHTML = '';
                        res.forEach(function (data) {
                            const item = `
                            <div class="flex my-1 md:flex-col border-2 rounded-xl h-[130px] min-w-full md:h-[400px] md:min-w-[280px] shadow-md overflow-hidden"
                                    data-category-id="${data._id}">
                                    <!-- image rendering  -->
                                    <a href="/detaildView/${data._id}">
                                        <div class="">
                                            <img src="/productImages/${data.image[0]}" alt="Product Image"
                                                class="h-[150px] md:h-[300px] md:w-full object-cover rounded-t-lg">
                                        </div>
                                    </a>
                                    <div class="px-3 py-2 product-name w-full">
                                        <span class="text-sm font-semibold truncate">
                                            ${data.p_name}
                                        </span>
                                        <div class="flex justify-between items-center mt-2">
                                            <div class="space-x-2">₹ <text class="font-medium">
                                                ${data.finalPrice}
                                                </text> &nbsp; <span class="line-through text-[#adadad]">₹
                                                    ${data.price}
                                                </span>
                                            </div>
                                            <div class="favor" style="cursor: pointer;">
                                                <i class="fa-regular fa-heart"></i>
                                            </div>
                                        </div>
                                        <div class="rating d-flex align-items-center">
                                            <div class="star d-flex align-items-center">
                                                <img src="/assets/product/star.png" alt="">
                                                <img src="/assets/product/star.png" alt="">
                                                <img src="/assets/product/star.png" alt="">
                                                <img src="/assets/product/star.png" alt="">
                                                <img src="/assets/product/star.png" alt="">
                                            </div>
                                            <div class="value ms-2">(10)</div>
                                        </div>
                                    </div>
                                </div>
                             `
                            productContainer.innerHTML += item
                        });
                    },
                    error: (error) => {
                        console.log("error while u filter in serverSide" + error);
                    }
                })
            });
        });
    </script>
    <!-- SORTING ALGORITHAM -->
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const selectedElement = document.getElementById('sortSelect');
            selectedElement.addEventListener("change", () => {
                const selectedValue = selectedElement.value;
                if (selectedValue === "latest") {
                    $.ajax({
                        type: 'post',
                        url: "/shopSort",
                        data: { selectedValue: selectedValue },
                        success: (data) => {
                            UIupdate(data);
                        },
                        error: (error) => {
                            console.log(`error while u try to sort the product ${error}`);
                        }
                    })
                } else if (selectedValue === "heighToLow") {
                    $.ajax({
                        type: 'post',
                        url: "/shopSort",
                        data: { selectedValue: selectedValue },
                        success: (data) => {
                            UIupdate(data);
                        },
                        error: (error) => {
                            console.log(`error while u try to sort the product ${error}`);
                        }
                    })
                } else if (selectedValue === "lowToHigh") {
                    $.ajax({
                        type: 'post',
                        url: "/shopSort",
                        data: { selectedValue: selectedValue },
                        success: (data) => {
                            UIupdate(data);
                        },
                        error: (error) => {
                            console.log(`error while u try to sort the product ${error}`);
                        }
                    })
                }
            })
        });
        function UIupdate(data) {
            const productContainer = document.getElementById('product-container');
            productContainer.innerHTML = '';

            data.forEach(function (data) {
                const item = `
                <div class="flex my-1 md:flex-col border-2 rounded-xl h-[130px] min-w-full md:h-[400px] md:min-w-[280px] shadow-md overflow-hidden"
                                    data-category-id="${data._id}">
                                    <!-- image rendering  -->
                                    <a href="/detaildView/${data._id}">
                                        <div class="">
                                            <img src="/productImages/${data.image[0]}" alt="Product Image"
                                                class="h-[150px] md:h-[300px] md:w-full object-cover rounded-t-lg">
                                        </div>
                                    </a>
                                    <div class="px-3 py-2 product-name w-full">
                                        <span class="text-sm font-semibold truncate">
                                            ${data.p_name}
                                        </span>
                                        <div class="flex justify-between items-center mt-2">
                                            <div class="space-x-2">₹ <text class="font-medium">
                                                ${data.finalPrice}
                                                </text> &nbsp; <span class="line-through text-[#adadad]">₹
                                                    ${data.price}
                                                </span>
                                            </div>
                                            <div class="favor" style="cursor: pointer;">
                                                <i class="fa-regular fa-heart"></i>
                                            </div>
                                        </div>
                                        <div class="rating d-flex align-items-center">
                                            <div class="star d-flex align-items-center">
                                                <img src="/assets/product/star.png" alt="">
                                                <img src="/assets/product/star.png" alt="">
                                                <img src="/assets/product/star.png" alt="">
                                                <img src="/assets/product/star.png" alt="">
                                                <img src="/assets/product/star.png" alt="">
                                            </div>
                                            <div class="value ms-2">(10)</div>
                                        </div>
                                    </div>
                                </div>
                             `
                productContainer.innerHTML += item
            });
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.js"></script>
    <%- include("../partials/footer.ejs")%>